
<h1>Post</h1>

  <h2><%=@post.title%></h2>
<ul>

  <li>Author: <%=@post.author.username%></li>
  <li>Content: <%=@post.content%></li>
  <li>URL: <%=@post.url%></li>
  <li>Associated Subs: <%= @post.subs.map(&:title).join(", ") %></li>

</ul>

<%= link_to "Edit this post", edit_post_url(params[:id]) %>
