
<h1>Post</h1>

  <h2><%=@post.title%></h2>
<ul>

  <li>Author: <%=@post.author.username%></li>
  <li>Content: <%=@post.content%></li>
  <li>URL: <%=@post.url%></li>

</ul>

<%= link_to "Edit this post", edit_sub_post_url(params[:sub_id], params[:id]) %>
